<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoControls" version="1.0.1" targetFramework="net461" />
  <package id="CButtonLib" version="3.0.6" targetFramework="net461" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
</packages>